.react-parallax {
    position: relative!important;
    height: 180vh;
    margin-top: -760px;
    
  }
.logoBanner {
    margin-top: 120vh;
    margin-left: 80px;
}
  
.logoBanner h1 {
    font-size: 54px;
    margin:0px;
    color: aliceblue;
}
  
.logoBanner p  {
    font-size: 14px;
    margin: 0px 0px 0px 45px;
    color: aliceblue;
}

.logoBanner img {
    height: 35vh;
}


/*Reactivo*/

@media only screen and (max-width: 550px) {
    .react-parallax {
        height: auto;
        margin-top: 0;
    }

    .logoBanner {
        margin-top: 50vh;
        margin-left: 20px;
    }

    .logoBanner h1 {
        font-size: 36px;
    }

    .logoBanner p {
        font-size: 12px;
        margin-left: 20px;
    }

    .logoBanner img {
        height: 25vh;
    }
}