.react-parallax {
    position: relative!important;
    height: 150vh;
    
  }
  
.fixed-text {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    transition: top 0.1s ease-in;
    transition: top 0.3s ease out;
}
  
.landing-page h1 {
    font-size: 54px;
    margin-top: 40vh;
    color: aliceblue;
}
  
.landing-page p {
    font-size: 14px;
    margin: 0;
    color: aliceblue;
}
  
