
.footer{
    position: fixed;
    display: grid;
    grid-template-rows: 35px 35px;
    bottom: 0px;
    left: 0px;
    background-color: #006D77;
    width: 100%;
    height: 70px;
    z-index: 10;
    color: whitesmoke;
    text-align: center;
}
.footer a i{
    font-size:xx-large;
}
.footer a{
    color: whitesmoke;
}
.footer a:hover{
    color: #30b0ff;
}