
.titulo {
    margin: 8vh; 
}
.contenedor {
    width: 20%;
    max-height: 100vh;
    height: 40vh;
}
.imagenCarrusel img{
    height: 40vh;
    width: 32vh;
    border-radius: 15px;
    padding: 8px;
}

.botoneraCarrusel {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Responsive*/
@media only screen and (max-width: 550px) {
    .titulo {
        margin: 4vh;
    }

    .contenedor {
        width: 70%;
        max-height: 50vh;
        height: auto;
    }

    .imagenCarrusel img {
        height: auto;
        width: 100%;
        border-radius: 10px;
        padding: 4px;
    }

    .botoneraCarrusel {
        flex-direction: column;
    }
}